body {
    background-color: lightgray;
}

a {
  border: 1px solid red;
  text-decoration: none;
}

div.status {
    display: inline-block;
    border: 2px solid black;
}

span.subtitle {
    font-size: 80%;
}

